.btn{

    -fx-background-color:#FFFFFF;
    -fx-font-size:12px;
    -fx-text-fill:red;
    -fx-font-weight: bold;
     -fx-alignment: center;
      -fx-background-radius: 15;
         -fx-padding: 10 20;


}

.btn:hover{

    -fx-background-color:#424242;
     -fx-font-size:15px;
     -fx-text-fill:white;
      -fx-alignment: center;
     -fx-font-weight: bold;
      -fx-background-radius: 15;
         -fx-padding: 10 20;



}